@import './base.css';

html,
body,
#app {
  height: 100%;
  width: 100%;
  margin: 0;
  display: block;
  overflow: hidden;
}

#app {
  margin: 0 auto;
  padding: 0;
  font-weight: normal;
}

.instructionsContainer {
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  flex-grow: 0;
  min-height: 100%;
}

.instructionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  /* margin: 5px; */
  width: 100%
    /* overflow: scroll; */
    /* overflow-y: scroll; */
}

.instruction {
  display: flex;
  margin: auto;
  align-items: center;
  align-content: center;
  width: 80%;
  min-width: 80%;
  border: 0px solid;
  border-radius: 10px;
  padding: 2px;
}

.innerInstruction {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  border: 0px solid;
  border-radius: 10px;
}

.droppableSpace {
  /* background-color: var(--droppableSpace); */
  height: 20px;
}

.colorSpace {
  background-color: var(--colorSpace);

  margin: 0;
}

.sort {
  background-color: var(--sort);
  margin: 0;
}

.color {
  background-color: var(--color);
  margin: 0;
}

canvas {
  max-height: 100%;
  max-width: 100%;
}